/* font for site */
@font-face {
  src: url(helvetica-neue-lt-std-cufonfonts/HelveticaNeueLTStd-BdCn.otf);
  font-family: 'HelveticaNeueLTStd-BdCn';
}

@font-face {
  src: url(helvetica-neue-lt-std-cufonfonts/HelveticaNeueLTStd-Cn.otf);
  font-family: 'HelveticaNeueLTStd-Cn';
}

/*Login */
body {
  font-family: 'HelveticaNeueLTStd-Cn';
}

#back1 {
  background-color: #ededed;
}

.img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

.username {
  width: 300px;
  margin-left: 30px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #253247;
  background-color: #ededed;
}

.password {
  width: 300px;
  margin-left: 30px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #253247;
  background-color: #ededed;
}

.checkbox {
  margin-top: 10px;
  margin-left: 250px;
  font-size: 0.25em;
}

#buttons {
  padding-top: 100px;
}

.login {
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  background-color: #253247;
  color: #fff;
  border-radius: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Homepage*/
#color {
  background-color: #253247;
}

.logo {
  width: 35px;
  height: 35px;
  float: right;
}

.item1 {
  grid-area: header;
  color: #fff;
  background-color: #74c8af;
}

.item1>img {
  width: 40px;
  height: 40px;
}

.item2 {
  grid-area: menu;
  color: #fff;
  background-color: #fed756;
}

.item2>img {
  width: 40px;
  height: 40px;
}

.item3 {
  grid-area: main;
  color: #fff;
  background-color: #f9b2aa;
}

.item3>img {
  width: 40px;
  height: 40px;
}

.item4 {
  grid-area: right;
  color: #fff;
  background-color: #5cc9e6;
}

.item4>img {
  width: 40px;
  height: 35px;
}

.button {
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  background-color: #f15b4e;
  color: #fff;
  border-radius: 24px;
  border: none;
  display: block;
  margin-left: 250px;
  margin-top: -20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header menu menu menu'
    'main main main right right right';
  background-color: #253247;
}

.grid-container>div {
  text-align: center;
  padding: 90px 0;
  font-size: 30px;
}

/*Sidenav*/
span {
  color: #fff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #253247;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #f15b4e;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

/*media queries*/

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}


/*chatwindows*/

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f9b2aa;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #74c8af;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 200px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f9b2aa;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #74c8af;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #74c8af;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/*CHAT-window*/

* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #f15b4e;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #253247;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #f15b4e;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*MESSAGES*/

h1 {
    color: #fff;
    text-align: center;
}


.accordion {
  background-color: #eee;
  color: #000;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: #FFB4AA;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel2 {
  padding: 0 18px;
  background-color: #59CBE8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 8px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.image {
    width: 3px;
    height: 10px;
}

/*schedule*/

ul {list-style-type: none;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #fed756;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #fed756;
  color: white !important
}

.details {
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  background-color: #fed756;
  color: #fff;
  border-radius: 1px;
  border: none;
  display: block;
  margin-left: 20px;
  margin-top: 50px;
}

/*Schedule - table*/

.schedulelist {
  width: 300px;
  border-left: 10px solid #FFB4AA;
  padding: 25px;
  margin: 25px;
}

.schedulelist2 {
  width: 300px;
  border-left: 10px solid #FDD757;
  padding: 25px;
  margin: 25px;
}

.schedulelist3 {
  width: 300px;
  border-left: 10px solid #FF671F;
  padding: 25px;
  margin: 25px;
}
.schedulelist4 {
  width: 300px;
  border-left: 10px solid #56C271;
  padding: 25px;
  margin: 25px;
}
.schedulelist5 {
  width: 300px;
  border-left: 10px solid #EA5045;
  padding: 25px;
  margin: 25px;
}
.schedulelist6 {
  width: 300px;
  border-left: 10px solid #8E7FAE;
  padding: 25px;
  margin: 25px;
}

.scheduletext {
    color: #fff;

}

.maintext {
    color: #FDD757;
    font-size: 30px;
    padding-left: 40px;
}
/*DOCUMENTS*/



/*info*/

.main {
    color: #fff;
    padding: 40px;
    font-size: 25px;

}

.main2 {
    color: #fff;
}

h4 {
    color: #fff;
    font-size: 25px;
}
.list {
  width: 300px;
  border-left: 10px solid #FFB4AA;
  padding: 25px;
  margin: 25px;

}

.list2 {
  width: 300px;
  border-left: 10px solid #FDD757;
  padding: 25px;
  margin: 25px;
}

.list3 {
  width: 300px;
  border-left: 10px solid #FF671F;
  padding: 25px;
  margin: 25px;
}
.list4 {
  width: 300px;
  border-left: 10px solid #56C271;
  padding: 25px;
  margin: 25px;
}
.list5 {
  width: 300px;
  border-left: 10px solid #EA5045;
  padding: 25px;
  margin: 25px;
}
.list6 {
  width: 300px;
  border-left: 10px solid #8E7FAE;
  padding: 25px;
  margin: 25px;
}
